DATABASE_URL=your-database-url

REGION:your-region
S3_ACCESS_KEY_ID:your-key-id
S3_SECRET_ACCESS_KEY:your-access-key
S3_BUCKET_NAME:your-bucket-name

S3_ENDPOINT:https://your-public-domain.example.com

JWT_SECRET:your-secret-key